In [11]:
import pandas as pd

In [30]:
trades = pd.read_csv('./stock_trade_log.csv')

In [31]:
trades["QUANTITY"] = (trades["AMOUNT"]/abs(trades["AMOUNT"])*trades["QUANTITY"])
trades.tail()

,DATE,TRANSACTION ID,DESCRIPTION,QUANTITY,SYMBOL,PRICE,COMMISSION,AMOUNT,REG FEE,SHORT-TERM RDM FEE,FUND REDEMPTION FEE,DEFERRED SALES CHARGE
88,05/19/2021,3.490941e+10,Bought 50 VXX @ 44.135,-50.0,VXX,44.1350,0.0,-2206.75,NaN,NaN,NaN,NaN
89,05/19/2021,3.491369e+10,Sold 50 VXX @ 43,50.0,VXX,43.0000,0.0,2149.98,0.02,NaN,NaN,NaN
90,05/20/2021,3.493320e+10,Bought 60 LEV @ 18.0899,-60.0,LEV,18.0899,0.0,-1085.39,NaN,NaN,NaN,NaN
91,05/21/2021,3.495488e+10,Bought 15 PATH @ 77.4681,-15.0,PATH,77.4681,0.0,-1162.02,NaN,NaN,NaN,NaN
92,05/21/2021,3.495666e+10,Bought 10 DAR @ 69.2841,-10.0,DAR,69.2841,0.0,-692.84,NaN,NaN,NaN,NaN

In [32]:
stocks = trades[['SYMBOL', 'AMOUNT', 'QUANTITY']]

stocks = stocks.groupby(['SYMBOL'])

In [33]:
totals = stocks.sum()
print(totals)

         AMOUNT  QUANTITY
SYMBOL
AFMD    -112.52       0.0
AMC      -48.80       0.0
AMKR      -3.85       0.0
AR      -798.08     -80.0
ASO      -22.72       0.0
BCRX     -30.80       0.0
CAR      207.80       0.0
CCO       69.63       0.0
CIDM    -152.01       0.0
CLF     -104.32       0.0
CRSP     -48.05       0.0
CTXR      -9.30       0.0
DAR     -706.85     -10.0
DQ       -66.91       0.0
IAC      -46.50       0.0
KIRK     -35.23       0.0
KOPN     -32.41       0.0
LEV    -1085.39     -60.0
MARA     -70.02       0.0
MU       -17.29       0.0
ON        87.29       0.0
PATH   -1162.02     -15.0
RRR       -0.74       0.0
RVLV     -41.04       0.0
SBLK     417.91       0.0
SI       -90.16       0.0
SM       -85.26       0.0
SXC      -10.74       0.0
TDC      -15.31       0.0
TIGR    -123.51       0.0
UEC      -18.02       0.0
UPST     -46.96       0.0
VIAC     -44.63       0.0
VXX      -59.25       0.0
XONE     -13.81       0.0
ZKIN    -119.81       0.0

In [35]:
#Exclude open positions
totals = totals[totals["QUANTITY"] == 0]

In [36]:
print( "Mean: \t\t{:0.2f}".format(totals['AMOUNT'].mean()) )
print( "Max_Loss: \t{:0.2f}".format(totals['AMOUNT'].min()) )
print( "Max_Win: \t{:0.2f}".format(totals['AMOUNT'].max()) )

Mean: 		-21.48
Max_Loss: 	-152.01
Max_Win: 	417.91

In [37]:
winners = totals[totals["AMOUNT"] > 0]
losers = totals[totals["AMOUNT"] < 0]
wl_ratio = winners.shape[0]/totals.shape[0]
print("Win %: {:0.2f}%".format(wl_ratio*100))

Win %: 12.50%

In [45]:
w_avg = winners["AMOUNT"].mean()
l_avg = losers["AMOUNT"].mean()
print("Avg Win: {:0.2f}".format(w_avg))
print("Avg Loss: {:0.2f}".format(l_avg))
print("Profit/Risk: {:0.2f}".format(abs(w_avg/l_avg)))

Avg Win: 195.66
Avg Loss: -52.50
Profit/Risk: 3.73